laspy
laszip
Cython
scikit-learn
pandas

#torch --index-url https://download.pytorch.org/whl/cu118
#torchvision --index-url https://download.pytorch.org/whl/cu118
#torchaudio --index-url https://download.pytorch.org/whl/cu118

torch --index-url https://download.pytorch.org/whl/cu117
torchvision --index-url https://download.pytorch.org/whl/cu117
torchaudio --index-url https://download.pytorch.org/whl/cu117

segment-lidar
open3d
tensorboard
git+https://github.com/IDEA-Research/GroundingDINO.git
laspy[lazrs,laszip]
cloth-simulation-filter

fastapi
uvicorn
python-multipart
flask
waitress
pyproj

matplotlib
pyvista
pptk
kivy

tqdm
geopandas
alphashape
shapely

pyinstaller
py2exe
